<div class="container" >
  <header>
    <div class="row mt-2">

      
      <div class="col-5">
        <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Listado de Proveedores
            </li>
          </ol>
        </nav>
      </div>

      <div class="col">
        <h4>
          {{
            supplierActive ? "PROVEEDORES ACTIVOS" : "PROVEEDORES ELIMINADOS"
          }}
        </h4>
      </div>
      <div class="row">
        <div class="col mt-3">
          <div class="row">
            <div class="col">
              <input
                type="text"
                [(ngModel)]="searchName"
                placeholder="Filtrar por razón social"
                class="form-control"
              />
            </div>
            <div class="col">
              <input
                type="text"
                [(ngModel)]="searchCode"
                placeholder="Filtrar por código"
                class="form-control"
              />
            </div>
            <div class="col">
              <button
                class="btn btn-danger"
                (click)="cleanFilter()"
                ngbTooltip="Limpiar Filtros"
              >
                <i class="bi bi-eraser"></i>
              </button>
            </div>
            <div class="col">
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  class="form-check-input"
                  id="radActive"
                  name="supplierStatus"
                  [(ngModel)]="selectedStatus"
                  [value]="true"
                  (change)="onRadioChange()"
                />
                <label
                  class="form-check-label"
                  for="radActive"
                  ngbTooltip="Proveedores Activos"
                  >Activos</label
                >
              </div>

              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  class="form-check-input"
                  id="radDeleted"
                  name="supplierStatus"
                  [(ngModel)]="selectedStatus"
                  [value]="false"
                  (change)="onRadioChange()"
                />
                <label
                  class="form-check-label"
                  for="radDeleted"
                  ngbTooltip="Proveedores Eliminados"
                  >Eliminados</label
                >
              </div>
            </div>
            <div class="col">
              <a
                routerLink="new"
                class="btn btn-success ml-2"
                id="altaProveedores"
              >
                <i class="bi bi-plus"></i> Agregar
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="row">
      <div class="col-12">
        <div
          *ngIf="!supplierList || supplierList.length === 0"
          class="alert alert-info"
          role="alert"
        >
          No hay proveedores en esta lista.
        </div>

        <table
          *ngIf="supplierList && supplierList.length > 0"
          class="table table-striped"
          style="margin-top: 10px"
        >
          <thead>
            <tr>
              <th>Logo</th>
              <th>
                <div
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                  "
                >
                  Código
                  <span
                    style="cursor: pointer"
                    (click)="toggleCodeSortOrder()"
                    [ngClass]="{ 'active-filter': isCodeSortActive }"
                    ngbTooltip="Ordenar por Código"
                  >
                    <i
                      [ngClass]="{
                        'bi bi-sort-alpha-down': currentCodeSortOrder === 'asc',
                        'bi bi-sort-alpha-up-alt':
                          currentCodeSortOrder === 'desc'
                      }"
                    ></i>
                  </span>
                </div>
              </th>

              <th>
                <div
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                  "
                >
                  Razón Social
                  <span
                    style="cursor: pointer"
                    (click)="toggleNameSortOrder()"
                    [ngClass]="{ 'active-filter': isNameSortActive }"
                    ngbTooltip="Ordenar por Razón Social"
                  >
                    <i
                      [ngClass]="{
                        'bi bi-sort-alpha-down': currentNameSortOrder === 'asc',
                        'bi bi-sort-alpha-up-alt':
                          currentNameSortOrder === 'desc'
                      }"
                    ></i>
                  </span>
                </div>
              </th>
              <th>Información de contacto</th>
              <th>Datos de contacto</th>
              <th>
                <div
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                  "
                >
                  Ubicación
                  <span
                    style="cursor: pointer"
                    (click)="sortLocation()"
                    [ngClass]="{ 'active-filter': isCountrySortActive }"
                    ngbTooltip="Ordenar por Pais"
                  >
                    <i
                      [ngClass]="{
                        'bi bi-sort-alpha-down':
                          currentLocationSortOrder === 'asc',
                        'bi bi-sort-alpha-up-alt':
                          currentLocationSortOrder === 'desc'
                      }"
                    ></i>
                  </span>
                </div>
              </th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of supplierList
                  | search : { field: ['nameSupplier'], searchText: searchName }
                  | search : { field: ['codeSupplier'], searchText: searchCode }
              "
            >
              <td>
                <img
                  src="{{ item?.urlLogo }}"
                  class="rounded mx-auto d-block img-thumbnail"
                  alt="..."
                  (error)="handleImageError($event)"
                  width="70"
                  height="70"
                />
              </td>
              <td>{{ item.codeSupplier }}</td>
              <td>{{ item.nameSupplier }}</td>
              <td>
                <i class="bi bi-telephone"></i> {{ item.telSupplier }} <br />
                <i class="bi bi-envelope"></i> {{ item.emailSupplier }} <br />
                <i class="bi bi-globe"></i> {{ item.webSupplier }}
              </td>

              <td>
                {{ item.namecontactSupplier }},
                {{ item.lastNamecontactSupplier }}
                <i
                  class="bi bi-info-circle"
                  [ngbTooltip]="
                    item.emailcontactSupplier + '\n' + item.telcontactSupplier
                  "
                ></i>
              </td>
              <td>{{ item.countrySupplier }} , {{ item.provinceSupplier }}</td>
              <td *ngIf="deleteSupplier">
                <a
                  *ngIf="supplierActive"
                  class="btn btn-primary btn-sm"
                  [routerLink]="['/list-supplier/detail/', item.idSupplier]"
                  ngbTooltip="Ver"
                  ><i class="bi bi-eye"></i
                ></a>
                <a
                  *ngIf="supplierActive"
                  class="btn btn-success btn-sm"
                  [routerLink]="['/list-supplier', item.idSupplier]"
                  ngbTooltip="Editar"
                  ><i class="bi bi-pencil-square"></i
                ></a>
                <a
                  *ngIf="supplierActive"
                  class="btn btn-danger btn-sm ml-2"
                  (click)="deleteSupplier(item.idSupplier, item.nameSupplier)"
                  ngbTooltip="Eliminar"
                  ><i class="bi bi-trash"></i
                ></a>
                <a
                  *ngIf="!supplierActive"
                  class="btn btn-primary btn-sm ml-2"
                  (click)="activeSupplier(item.idSupplier, item.nameSupplier)"
                  ngbTooltip="Activar"
                  ><i class="bi bi-check-lg"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>

        <div
          *ngIf="
            supplierList.length > 0 &&
            (
              supplierList
              | search
                : {
                    field: ['nameSupplier'],
                    searchText: searchName
                  }
              | search
                : {
                    field: ['codeSupplier'],
                    searchText: searchCode
                  }
            ).length === 0
          "
          class="alert alert-info mt-4"
          role="alert"
        >
          No hay proveedores para esta búsqueda.
        </div>
      </div>
    </div>
  </main>
</div>
