<div class="container">

  <div class="row mt-2">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        <li class="breadcrumb-item"><a routerLink="/list-supplier">Listado de Proveedores</a></li>
        <li class="breadcrumb-item active" aria-current="page"> Proveedor {{supplier?.nameSupplier}}</li>
      </ol>
    </nav>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <div class="card h-100 d-flex justify-content-center">
        <img
          src="{{ supplier?.urlLogo }}"
          (error)="handleImageError($event)"
          alt="Responsive image"
        />
        <div class="card-body">
          <div class="card-header" style="text-align: center">
            <strong> {{ supplier?.nameSupplier }}</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-3 h-100">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="card-header">Datos del Proveedor:</div>
              <div class="card-body">
                <p class="card-text">
                  <strong> Nombre Proveedor: </strong
                  >{{ supplier?.nameSupplier }}
                </p>
                <p class="card-text">
                  <strong> Código: </strong>{{ supplier?.codeSupplier }}
                </p>
                <p class="card-text">
                  <strong>Rubro:</strong> {{ supplier?.categorySupplier }}
                </p>
              </div>
            </div>
            <div class="col">
              <div class="card-header">Datos Fiscales:</div>
              <div class="card-body">
                <p class="card-text">
                  <strong>CUIT:</strong> {{ supplier?.cuitSupplier }}
                </p>
                <p class="card-text">
                  <strong>Condición AFIP:</strong>
                  {{ supplier?.condicionAfipSupplier }}
                </p>
                <p class="card-text">
                  <strong>Dirección:</strong> {{ supplier?.streetSupplier }} N°
                  {{ supplier?.numSupplier }}
                </p>
                <p class="card-text">
                  <strong>País:</strong> {{ supplier?.countrySupplier }}
                </p>
                <p class="card-text">
                  <strong>Provincia:</strong> {{ supplier?.provinceSupplier }}
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="card-header">Datos de contacto:</div>
              <div class="card-body">
                <p class="card-text">
                  <strong>Email: </strong>
                  <a
                    href="{{ supplier?.emailSupplier }}"
                    ngbTooltip="Toca para enviar un email"
                    >{{ supplier?.emailSupplier }}</a
                  >
                </p>
                <p class="card-text">
                  <strong>N° Tel:</strong> {{ supplier?.telSupplier }}
                </p>
                <p class="card-text">
                  <strong>Sitio Web:</strong>
                  <a
                    href="{{ supplier?.webSupplier }}"
                    ngbTooltip="Toca para ingresar a la WEB"
                    >{{ supplier?.webSupplier }}</a
                  >
                </p>
              </div>
            </div>
            <div class="col">
              <div class="card-header">Información de contacto:</div>
              <div class="card-body">
                <p class="card-text">
                  <strong>Email:</strong>
                  <a
                    href="{{ supplier?.emailcontactSupplier }}"
                    ngbTooltip="Toca para enviar un email"
                    >{{ supplier?.emailcontactSupplier }}</a
                  >
                </p>
                <p class="card-text">
                  <strong>Teléfono:</strong> {{ supplier?.telcontactSupplier }}
                </p>
                <p class="card-text">
                  <strong>Rol:</strong> {{ supplier?.rolcontactSupplier }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center mt-4">
      <button
        type="button"
        class="btn btn-success btn-m"
        [routerLink]="['/list-supplier', supplier?.idSupplier]"
        style="margin-right: 5px"
      >
        Editar
      </button>
      <button
        type="button"
        class="btn btn-primary btn-m"
        routerLink="/list-supplier"
        style="margin-left: 5px"
      >
        Volver
      </button>
    </div>
  </div>
</div>
