<div class="row">
  <div class="col-4 text-center">
    <img
      #img1
      src="{{ supplier?.urlLogo }}"
      class="rounded mx-auto d-block"
      alt="..."
      (error)="handleImageError($event)"
    />
  </div>
  <div class="col-8">
    <h4>Información del Proveedor:</h4>
    <p>Código:{{ supplier?.idSupplier }}</p>
    <p>Razon Social:{{ supplier?.nameSupplier }}</p>
    <p>Rubro:{{ supplier?.categorySupplier }}</p>
    <h4>Datos Fiscales:</h4>
    <p>CUIT: {{ supplier?.cuitSupplier }}</p>
    <p>Condicion AFIP: {{ supplier?.condicionAfipSupplier }}</p>
    <p>
      Dirección: {{ supplier?.streetSupplier }} N° {{ supplier?.numSupplier }}
    </p>
    <h4>Datos de contacto:</h4>
    <p>N° Tel: {{ supplier?.telSupplier }}</p>
    <p>Email: {{ supplier?.emailSupplier }}</p>
    <p>Sitio Web: {{ supplier?.webSupplier }}</p>

    <p>PROVINCIA {{ supplier?.provinceSupplier }}</p>

    <button
      class="btn btn-success btn-sm"
      [routerLink]="['/list-supplier', supplier?.idSupplier]"
      style="margin-right: 5px"
    >
      Editar
    </button>

    <button
      type="button"
      class="btn btn-primary btn-sm"
      routerLink="/list-supplier"
      style="margin-left: 5px"
    >
      Volver
    </button>
  </div>
</div>
