<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h4>Listado Orden de Compra:</h4>
    </div>
    <div class="col-6">
      <a routerLink="new" class="btn btn-success" id="newProduct">Agregar</a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div
        *ngIf="!purchaseOrderList || purchaseOrderList.length === 0"
        class="alert alert-info"
        role="alert"
      >
        No hay órdenes de compra cargadas.
      </div>

      <table *ngIf="purchaseOrderList && purchaseOrderList.length > 0">
        <thead>
          <tr>
            <th>N° Orden</th>
            <th>Fecha de Emisión</th>
            <th>Fecha de Entrega</th>
            <th>Total</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of purchaseOrderList"
            [ngClass]="{ 'canceled-order': item.status === 'Cancelado' }"
          >
            <td>{{ item.idPurchaseOrder }}</td>
            <td>{{ item.dateIssue | date : "dd-MM-yyyy" }}</td>
            <td>{{ item.dateDelivery | date : "dd-MM-yyyy" }}</td>
            <td>{{ item.total | currency }}</td>
            <td>{{ item.status }}</td>
            <td>
              <a
                class="btn btn-primary btn-sm"
                [routerLink]="[
                  '/list-purchase-order',
                  item.idPurchaseOrder,
                  'detail'
                ]"
                ngbTooltip="Ver"
              >
                <i class="bi bi-eye"></i>
              </a>
              <a
                *ngIf="item.status != 'Cancelado'"
                class="btn btn-success btn-sm"
                [routerLink]="['/list-purchase-order', item.idPurchaseOrder]"
                ngbTooltip="Editar"
              >
                <i class="bi bi-pencil-square"></i>
              </a>
              <a
                *ngIf="item.status != 'Cancelado'"
                class="btn btn-danger btn-sm ml-2"
                ngbTooltip="Cancelar"
                (click)="statusPucharseOrder(item.idPurchaseOrder)"
              >
                <i class="bi bi-ban"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
