<div class="container">
  <div class="row mt-2">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        <li class="breadcrumb-item">
          <a routerLink="/list-purchase-order">Listado de Ordenes de Compra</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <span>{{
            !isUpdate ? "Nueva Orden de Compra" : "Actualizando Orden de Compra"
          }}</span>
        </li>
      </ol>
    </nav>
  </div>

  <form #myForm="ngForm" (ngSubmit)="createNewPuchseOrder(myForm)">
    <div class="row">
      <div class="col" *ngIf="isUpdate"></div>
      <div class="col-6">
        <!-- Sección Información Orden -->
        <fieldset>
          <legend>Detalle de Orden de compra:</legend>
          <div class="form-group" *ngIf="isUpdate">
            <label for="idPurchaseOrder">N° Orden:</label>
            <input
              type="text"
              class="form-control"
              name="idPurchaseOrder"
              id="idPurchaseOrder"
              required
              [(ngModel)]="newPurchaseOrder.idPurchaseOrder"
              [ngModelOptions]="{ standalone: true }"
              disabled
            />
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="dateIssue"
                  >Fecha Emisión: <span class="fw-light">(*)</span></label
                >
                <input
                  type="date"
                  class="form-control"
                  name="dateIssue"
                  id="dateIssue"
                  [min]="date | date : 'yyyy-MM-dd' : '+0000'"
                  disabled
                  [(ngModel)]="newPurchaseOrder.dateIssue"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="dateDelivery"
                  >Fecha de Entrega: <span class="fw-light">(*)</span></label
                >
                <input
                  type="date"
                  class="form-control"
                  name="dateDelivery"
                  id="dateDelivery"
                  [min]="getMinDateShippingTemplate()"
                  [(ngModel)]="newPurchaseOrder.dateDelivery"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
              <div class="form-text" *ngIf="isDateInvalid">
                <p>Debe seleccionar una fecha de entrega válida.</p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="recepcion"
              >Información de recepción:
              <span class="fw-light">(*)</span></label
            >
            <textarea
              type="text"
              class="form-control"
              name="recepcion"
              id="recepcion"
              minlength="1"
              required
              [(ngModel)]="newPurchaseOrder.recepcion"
              #recepcion="ngModel"
              [ngClass]="recepcion.errors ? 'is-invalid' : 'is-valid'"
            >
            </textarea>
            <div *ngIf="recepcion.errors?.['minlength']" class="col-auto">
              <span class="form-text">Debe tener al menos 1 caracteres</span>
            </div>
            <div *ngIf="recepcion.errors?.['required']" class="col-auto">
              <span class="form-text">Se debe completar este campo</span>
            </div>
          </div>
          <div class="row" *ngIf="newPurchaseOrder.total > 0">
            <div class="col-2 d-flex align-content-end" *ngIf="!supplierPoin">
              <img
                src="{{ supplierLogo }}"
                alt=""
                width="70px"
                height="70px"
                class="img-thumbnail"
              />
            </div>
            <div class="col">
              <div>
                <label>Proveedor:</label>
                <input
                  type="text"
                  id="supplier"
                  class="form-control"
                  [readonly]="true"
                  [value]="newPurchaseOrder.supplier"
                  disabled
                />
              </div>
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Subtotal</th>
                  <th *ngIf="!isUpdate">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of newPurchaseOrder.products; let i = index"
                >
                  <td>{{ item.nameProduct }}</td>
                  <td>{{ item.unitProduct }}</td>
                  <td>{{ item.unitProduct * item.priceProduct | currency }}</td>
                  <td *ngIf="!isUpdate" class="text-center">
                    <button
                      class="btn btn-danger btn-sm text-center m-0"
                      (click)="removeProduct(i)"
                    >
                      X
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div
              *ngIf="detailProducts.unitProduct > 0"
              class="form-group d-flex align-items-center"
            >
              <label>Total</label>
              <input
                type="text"
                id="priceProduct"
                class="form-control"
                [readonly]="true"
                [value]="newPurchaseOrder.total | currency"
                disabled
              />
            </div>
          </div>
          <div class="text-center">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="
                isUpdate
                  ? false
                  : !myForm.valid || newPurchaseOrder.total === 0 || isSave
              "
            >
              Guardar
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="ClearForm()"
              *ngIf="!isUpdate"
            >
              Limpiar
            </button>
            <button
              type="button"
              class="btn btn-primary"
              routerLink="/list-purchase-order"
            >
              Volver
            </button>
          </div>
        </fieldset>

        <!-- Sección Detalle Orden -->
      </div>
      <div class="col" *ngIf="isUpdate"></div>

      <div class="col-6" *ngIf="!isUpdate">
        <fieldset>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="supplierName"
                  >Proveedor: <span class="fw-light">(*)</span></label
                >
                <select
                  class="form-control"
                  name="supplierName"
                  [(ngModel)]="newPurchaseOrder.supplier"
                  required
                  (change)="onSupplierSelected(newPurchaseOrder.supplier)"
                  [disabled]="!supplierPoin || isUpdate"
                  #supplier="ngModel"
                  [ngClass]="supplier.errors ? 'is-invalid' : 'is-valid'"
                >
                  <option value="" disabled selected>
                    Selecciona el proveedor
                  </option>
                  <option
                    *ngFor="let name of suppliers"
                    value="{{ name.nameSupplier }}"
                  >
                    {{ name.nameSupplier }}
                  </option>
                </select>
                <div *ngIf="!newPurchaseOrder.supplier" class="col-auto">
                  <span class="form-text">Se debe completar este campo</span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="product"
                  >Producto: <span class="fw-light">(*)</span></label
                >
                <select
                  class="form-control"
                  name="product"
                  [(ngModel)]="detailProducts.nameProduct"
                  (ngModelChange)="onProductSelected()"
                  required
                  [disabled]="isUpdate"
                >
                  <option value="" disabled selected>
                    Selecciona el producto
                  </option>
                  <option
                    *ngFor="let product of products"
                    [value]="product.nameProduct"
                  >
                    {{ product.nameProduct }}
                  </option>
                </select>
                <div
                  *ngIf="
                    !detailProducts.nameProduct &&
                    !products.length &&
                    newPurchaseOrder.supplier
                  "
                >
                  <span class="form-text"
                    >El proveedor no tiene productos cargados</span
                  >
                </div>
                <div
                  *ngIf="
                    !detailProducts.nameProduct &&
                    (products.length > 0 || !newPurchaseOrder.supplier)
                  "
                >
                  <span class="form-text">Se debe completar este campo</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex align-items-center">
            <div class="col">
              <div class="form-group">
                <label for="priceProduct">Precio:</label>
                <input
                  type="text"
                  id="priceProduct"
                  class="form-control"
                  [readonly]="true"
                  [value]="selectedProduct?.priceProduct | currency"
                  disabled
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="unitProduct"
                  >Cantidad: <span class="fw-light">(*)</span></label
                >
                <input
                  type="number"
                  class="form-control"
                  name="unitProduct"
                  min="1"
                  required
                  [(ngModel)]="detailProducts.unitProduct"
                  [ngModelOptions]="{ standalone: true }"
                  (ngModelChange)="calculateTotal()"
                  [disabled]="isUpdate"
                />
              </div>
            </div>

            <div class="col">
              <button
                *ngIf="!isUpdate || detailProducts.unitProduct < 0"
                type="button"
                class="btn btn-primary"
                (click)="addOrderDetails()"
                [disabled]="detailProducts.unitProduct < 1"
              >
                <i class="bi bi-plus"></i> Agregar
              </button>
            </div>
          </div>

          <div
            *ngIf="detailProducts.unitProduct <= 0"
            class="col-auto text-center"
          >
            <span class="form-text">La cantidad no puede ser menor a 0</span>
          </div>
        </fieldset>
      </div>
    </div>
  </form>
</div>
