<div class="container-fluid">
  <h5>Orden de Compra:</h5>

  <form #myForm="ngForm" (ngSubmit)="createNewPuchseOrder(myForm)">
    <div class="row">
      <div class="col-6">
        <!-- Sección Información Orden -->
        <fieldset>
          <legend>Detalle Orden:</legend>
          <div class="form-group">
            <label for="idPurchaseOrder">N° Orden:</label>
            <input
              type="text"
              class="form-control"
              name="idPurchaseOrder"
              id="idPurchaseOrder"
              required
              [(ngModel)]="newPurchaseOrder.idPurchaseOrder"
              [ngModelOptions]="{ standalone: true }"
              #idPurchaseOrder="ngModel"
              [ngClass]="idPurchaseOrder.errors ? 'is-invalid' : 'is-valid'"
              [disabled]="isUpdate"
            />
            <div *ngIf="idPurchaseOrder.errors?.['required']" class="col-auto">
              <span class="form-text">Se debe completar este campo</span>
            </div>
          </div>
          <div class="form-group">
            <label for="dateIssue">Fecha Emisión:</label>
            <input
              type="datetime-local"
              class="form-control"
              name="dateIssue"
              id="dateIssue"
              required
              [(ngModel)]="newPurchaseOrder.dateIssue"
              [ngModelOptions]="{ standalone: true }"
              #dateIssue="ngModel"
              [ngClass]="dateIssue.errors ? 'is-invalid' : 'is-valid'"
            />
            <div *ngIf="dateIssue.errors?.['required']" class="col-auto">
              <span class="form-text">Se debe completar este campo</span>
            </div>
          </div>
          <div class="form-group">
            <label for="dateDelivery">Fecha de Entrega:</label>
            <input
              type="datetime-local"
              class="form-control"
              name="dateDelivery"
              id="dateDelivery"
              required
              [(ngModel)]="newPurchaseOrder.dateDelivery"
              [ngModelOptions]="{ standalone: true }"
              #dateDelivery="ngModel"
              [ngClass]="dateDelivery.errors ? 'is-invalid' : 'is-valid'"
            />
            <div *ngIf="dateDelivery.errors?.['required']" class="col-auto">
              <span class="form-text">Se debe completar este campo</span>
            </div>
          </div>
          <div class="form-group">
            <label for="recepcion">Información de Recepción</label>
            <textarea
              required
              [(ngModel)]="newPurchaseOrder.recepcion"
              [ngModelOptions]="{ standalone: true }"
              required
              minlength="4"
              #recepcion="ngModel"
              [ngClass]="recepcion.errors ? 'is-invalid' : 'is-valid'"
            ></textarea>
            <div *ngIf="recepcion.errors?.['minlength']" class="col-auto">
              <span class="form-text">Debe tener al menos 4 caracteres </span>
            </div>
            <div *ngIf="recepcion.errors?.['required']" class="col-auto">
              <span class="form-text">Se debe completar este campo</span>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col-6">
        <!-- Sección Detalle Orden -->
        <fieldset
          *ngFor="let detail of newPurchaseOrder.orderDetails; let i = index"
        >
          <legend>Detalle Orden: {{ i + 1 }}</legend>
          <div class="form-group">
            <label for="supplierName{{ i }}">Proveedor:</label>
            <select
              class="form-control"
              name="supplierName{{ i }}"
              [(ngModel)]="detail.supplier.name"
              [ngModelOptions]="{ standalone: true }"
              (change)="onSupplierChange(detail.supplier)"
              required
            >
              <option value="" disabled selected>
                Selecciona el proveedor
              </option>
              <option *ngFor="let name of supplierName" [value]="name">
                {{ name }}
              </option>
            </select>
            <div *ngIf="detail.supplier.name" class="col-auto">
              <span class="form-text">Se debe completar este campo</span>
            </div>
          </div>
          <div class="form-group">
            <label for="product{{ i }}">Producto:</label>
            <select
              class="form-control"
              name="product{{ i }}"
              [(ngModel)]="detail.product"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="calculateTotal()"
              required
            >
              <option value="" disabled selected>Selecciona el producto</option>
              <option
                *ngFor="let name of detail.supplier.products"
                [value]="name"
              >
                {{ name }}
              </option>
            </select>
            <div *ngIf="detail.product" class="col-auto">
              <span class="form-text">Se debe completar este campo</span>
            </div>
          </div>
          <div class="form-group">
            <label for="unitProduct{{ i }}">Cantidad:</label>
            <input
              type="number"
              class="form-control"
              name="unitProduct{{ i }}"
              minlength="1"
              required
              [(ngModel)]="detail.unitProduct"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="calculateTotal()"
              #unitProduct="ngModel"
              [ngClass]="unitProduct.errors ? 'is-invalid' : 'is-valid'"
            />
            <div *ngIf="unitProduct.errors?.['minlength']" class="col-auto">
              <span class="form-text"
                >Debe tener al menos 4 caracteres y un maximo de 40</span
              >
            </div>
            <div *ngIf="unitProduct.errors?.['required']" class="col-auto">
              <span class="form-text">Se debe completar este campo</span>
            </div>
          </div>
        </fieldset>
        <div
          *ngIf="newPurchaseOrder.orderDetails.length > 0"
          class="form-group"
        >
          <label for="total">Total:</label>
          <input
            type="text"
            class="form-control"
            name="total"
            disabled
            [(ngModel)]="newPurchaseOrder.total"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <div *ngIf="msj" class="alert alert-success" role="alert">
          Acción realizada con exito!
        </div>

        <button
          type="button"
          class="btn btn-primary"
          (click)="addOrderDetail()"
        >
          Agregar Detalle
        </button>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!myForm.valid"
        >
          Guardar
        </button>
        <button type="button" class="btn btn-danger" (click)="ClearForm()">
          Limpiar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/list-purchase-order"
        >
          Volver
        </button>
      </div>
    </div>
  </form>
</div>
