
.navbar {
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.productos {
    padding: 50px;
}

.productos fieldset {
    margin-bottom: 15px;
    border: 1px solid rgb(117, 117, 236);
    padding: 15px;
    border-radius: 8px;

}

.productos label {
    margin-bottom: 5px;
    display: block;
}

.productos button {
    padding: 10px 20px;
    border-radius: 5px;
}

.productos input,
.productos select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #d6c2c2;
    border-radius: 5px;
}

