<div class="row">
  <div class="col-4 text-center">
    <img
      *ngIf="product?.urlLogo; else noLogoMessage"
      #img1
      src="{{ product?.urlLogo }}"
      class="rounded mx-auto d-block"
      alt="..."
      (error)="handleImageError($event)"
    />
    <ng-template #noLogoMessage>
      <p id="logo">Sin Imagen</p>
    </ng-template>
  </div>

  <div class="col-8">
    <h4>Información del Producto:</h4>
    <p>Código:{{ product?.idProduct }}</p>
    <p>Nombre:{{ product?.nameProduct }}</p>
    <p>Proveedor:{{ product?.supplierName }}</p>
    <p>Descripcion: {{ product?.descriptionProduct }}</p>
    <p>Precio: {{ product?.priceProduct | currency }}</p>
    <button type="button" class="btn btn-primary" routerLink="/list-product">
      Volver
    </button>
  </div>
</div>
