<div class="container-fluid">
    <h5>Generar Orden de Compra:</h5>
    <div class="row">
      <div class="col-6">
        <!-- Sección Información Orden -->
        <fieldset>
          <legend>Detalle Orden:</legend>
          <div class="form-group">
            <label for="numOrden">N° Orden:</label>
            <input type="text" class="form-control" name="numOrden" id="numOrden" required />
          </div>
          <div class="form-group">
            <label for="fechaEmision">Fecha Emision:</label>
            <input type="datetime-local" class="form-control" name="fechaEmision" id="fechaEmision" required />
          </div>
          <div class="form-group">
            <label for="fechaEntrega">Fecha de Entrega:</label>
            <input type="datetime-local" class="form-control" name="fechaEntrega" id="fechaEntrega" required />
          </div>
          <div class="form-group">
            <label for="calle">Direccion de entrega (Calle):</label>
            <input type="text" class="form-control" name="calle" id="calle" required />
          </div>
          <div class="form-group">
            <label for="numero_Calle">Direccion de entrega (Número):</label>
            <input type="text" class="form-control" name="numero_Calle" id="numero_Calle" required />
          </div>
        </fieldset>
      </div>
      <div class="col-6">
        <!-- Sección Detalle Orden -->
        <fieldset>
          <legend>Detalle Orden:</legend>
          <div class="form-group">
            <label for="proveedorNombre">Proveedor:</label>
            <select class="form-control" name="proveedorNombre" id="proveedorNombre">
              <option value="proveedor1">Proveedor 1</option>
              <option value="proveedor2">Proveedor 2</option>
              <option value="proveedor3">Proveedor 3</option>
            </select>
          </div>
          <div class="form-group">
            <label for="productoNombre">Producto:</label>
            <select class="form-control" name="productoNombre" id="productoNombre">
              <option value="producto1">Producto 1</option>
              <option value="producto2">Producto 2</option>
              <option value="producto3">Producto 3</option>
            </select>
          </div>
          <div class="form-group">
            <label for="precioProducto">Precio:</label>
            <input type="text" class="form-control" name="precioProducto" id="precioProducto" required />
          </div>
          <div class="form-group">
            <label for="cantidadProducto">Cantidad:</label>
            <input type="text" class="form-control" name="cantidadProducto" id="cantidadProducto" required />
          </div>
        </fieldset>
  
        <button type="button" class="btn btn-success" id="botonCargar">Cargar</button>
      </div>
    </div>
  </div>


