<main>
  <div class="container">

    <div class="row mt-2">
      <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          <li class="breadcrumb-item">
            <a routerLink="/list-category-product"> Listado de Categorías</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <span>{{ !isUpdate ? "Nueva Categoría" : "Actualizando Categoría" }}</span>
          </li>
        </ol>
      </nav>
    </div>

    <form #myForm="ngForm" (ngSubmit)="createnewCategoryProduct(myForm)">
      <div class="row">
        <div class="col-6">
          <!-- Sección Rubro -->
          <fieldset>
            <legend>Categoría</legend>
            <div class="form-group">
              <label for="categorySupplier">Categoría:</label>
              <input
                type="text"
                class="form-control"
                name="categorySupplier"
                id="categorySupplier"
                minlength="4"
                maxlength="40"
                required
                [(ngModel)]="newCategoryProduct.categoryProduct"
                #categoryProduct="ngModel"
                [ngClass]="categoryProduct.errors ? 'is-invalid' : 'is-valid'"
              />
              <div
                *ngIf="categoryProduct.errors?.['minlength']"
                class="col-auto"
              >
                <span class="form-text"
                  >Debe tener al menos 4 caracteres y un maximo de 40</span
                >
              </div>
              <div
                *ngIf="categoryProduct.errors?.['required']"
                class="col-auto"
              >
                <span class="form-text">Se debe completar este campo</span>
              </div>
            </div>
          </fieldset>
          <div class="text-center">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!myForm.valid || isSave"
            >
              Guardar
            </button>
            <button type="submit" class="btn btn-danger" (click)="ClearForm()" *ngIf="!isUpdate">
              Limpiar
            </button>
            <button
              type="button"
              class="btn btn-primary"
              routerLink="/list-category-product"
            >
              Volver
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>
