<div class="container-fuid pt-5 center-vertically">
  <div class="row mt-5 mx-auto w-75">
    <div class="col-md-4 my-3">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="card-title display-1">
                <i class="bi bi-building"></i>
              </h5>
            </div>
            <div class="col">
              <h6 class="card-subtitle mb-2 text-muted">PROVEEDORES</h6>
            </div>
          </div>
          <p class="card-text mb-0">Activos: {{ countActiveSupplier }}</p>
          <p class="card-text">Eliminados: {{ countDeletedSupplier }}</p>
          <a routerLink="list-supplier" class="btn btn-primary"
            >Ingresar <i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>

    <div class="col-md-4 my-3">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="card-title display-1">
                <i class="bi bi-box-seam"></i>
              </h5>
            </div>
            <div class="col">
              <h6 class="card-subtitle mb-2 text-muted">PRODUCTOS</h6>
            </div>
          </div>
          <p class="card-text mb-0">Activos: {{ countActiveProduct }}</p>
          <p class="card-text">Eliminados: {{ countDeletedProduct }}</p>
          <a routerLink="list-product" class="btn btn-primary"
            >Ingresar <i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>

    <div class="col-md-4 my-3">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="card-title display-1">
                <i class="bi bi-list-ul"></i>
              </h5>
            </div>
            <div class="col">
              <h6 class="card-subtitle mb-2 text-muted">ORDENES DE COMPRA</h6>
            </div>
          </div>
          <p class="card-text mb-0">
            Pendientes: {{ countActivePurchaseOrder }}
          </p>
          <p class="card-text">Canceladas: {{ countDeletedPurchaseOrder }}</p>
          <a routerLink="list-purchase-order" class="btn btn-primary"
            >Ingresar <i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 mx-auto w-50 d-flex justify-content-center">
    <div class="col-md-4 my-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col align-items-center d-flex justify-content-center">
              <h5 class="card-title display-3 d-inline">
                <i class="bi bi-clipboard"></i>
              </h5>

              <h6 class="card-subtitle mb-2 text-muted d-inline">RUBROS</h6>
            </div>
          </div>
          <a routerLink="list-category-supplier" class="btn btn-primary"
            >Ingresar <i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>

    <div class="col-md-4 my-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col align-items-center d-flex justify-content-center">
              <h5 class="card-title display-3 d-inline">
                <i class="bi bi-clipboard"></i>
              </h5>

              <h6 class="card-subtitle mb-2 text-muted d-inline">CATEGORÍAS</h6>
            </div>
          </div>
          <a routerLink="list-category-product" class="btn btn-primary"
            >Ingresar <i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
