<main>
  <div class="container">
    <form #myForm="ngForm" (ngSubmit)="createNewCategorySupplier(myForm)">
      <div class="row">
        <div class="col-6">
          <!-- Sección Rubro -->
          <fieldset>
            <legend>Rubro</legend>
            <div class="form-group">
              <label for="categorySupplier">Rubro:</label>
              <input
                type="text"
                class="form-control"
                name="categorySupplier"
                id="categorySupplier"
                minlength="4"
                maxlength="40"
                required
                [(ngModel)]="newCategorySupplier.categorySupplier"
                #categorySupplier="ngModel"
                [ngClass]="categorySupplier.errors ? 'is-invalid' : 'is-valid'"
              />
              <div
                *ngIf="categorySupplier.errors?.['minlength']"
                class="col-auto"
              >
                <span class="form-text"
                  >Debe tener al menos 4 caracteres y un maximo de 40</span
                >
              </div>
              <div
                *ngIf="categorySupplier.errors?.['required']"
                class="col-auto"
              >
                <span class="form-text">Se debe completar este campo</span>
              </div>
            </div>
          </fieldset>
          <div class="text-center">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!myForm.valid || isSave"
            >
              Guardar
            </button>
            <button type="submit" class="btn btn-danger" (click)="ClearForm()">
              Limpiar
            </button>
            <button
              type="button"
              class="btn btn-primary"
              routerLink="/list-category-supplier"
            >
              Volver
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>
