<div class="container">
  <form #myForm="ngForm" (ngSubmit)="createNewSupplier(myForm)">
    <main>
      <div class="row mx-auto">
        <div class="col-6">
          <section>
            <!-- Sección Información Empresa -->
            <fieldset>
              <legend>Datos Fiscales</legend>
              <div class="form-group">
                <label for="idSupplier">Imagen del logo:</label>
                <input
                  type="text"
                  class="form-control"
                  name="urlLogo"
                  id="urlLogo"
                  [(ngModel)]="newsupplier.urlLogo"
                  #urlLogo="ngModel"
                  [ngClass]="urlLogo.errors ? 'is-invalid' : 'is-valid'"
                />
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="idSupplier">Código:</label>
                    <input
                      type="text"
                      class="form-control"
                      name="codeSupplier"
                      id="codeSupplier"
                      [(ngModel)]="newsupplier.codeSupplier"
                      minlength="4"
                      maxlength="10"
                      required
                      #codeSupplier="ngModel"
                      [ngClass]="
                        codeSupplier.errors ? 'is-invalid' : 'is-valid'
                      "
                      [disabled]="isUpdate"
                    />
                    <div
                      *ngIf="codeSupplier.errors?.['minlength']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Debe tener al menos 4 caracteres y un maximo de
                        10</span
                      >
                    </div>
                    <div
                      *ngIf="codeSupplier.errors?.['required']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Se debe completar este campo</span
                      >
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label for="nameSupplier">Razón Social:</label>
                    <input
                      type="text"
                      class="form-control"
                      name="nameSupplier"
                      id="nameSupplier"
                      [(ngModel)]="newsupplier.nameSupplier"
                      minlength="4"
                      maxlength="40"
                      required
                      #nameSupplier="ngModel"
                      [ngClass]="
                        nameSupplier.errors ? 'is-invalid' : 'is-valid'
                      "
                    />
                    <div
                      *ngIf="nameSupplier.errors?.['minlength']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Debe tener al menos 4 caracteres y un maximo de
                        40</span
                      >
                    </div>
                    <div
                      *ngIf="nameSupplier.errors?.['required']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Se debe completar este campo</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="cuit">CUIT:</label>
                    <input
                      type="text"
                      class="form-control"
                      name="cuitSupplier"
                      id="cuitSupplier"
                      [(ngModel)]="newsupplier.cuitSupplier"
                      required
                      pattern="^\d{2}-\d{8}-\d{1}$"
                      #cuitSupplier="ngModel"
                      [ngClass]="{
                        'is-invalid':
                          cuitSupplier.invalid &&
                          (cuitSupplier.dirty || cuitSupplier.touched),
                        'is-valid': cuitSupplier.valid
                      }"
                      [disabled]="isUpdate"
                    />
                    <div
                      *ngIf="cuitSupplier.errors?.['required']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Se debe completar este campo</span
                      >
                    </div>
                    <div
                      *ngIf="cuitSupplier.errors?.['pattern']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >El CUIT debe tener el formato correcto
                        (XX-XXXXXXXX-X)</span
                      >
                    </div>
                    <div
                      *ngIf="
                        cuitSupplier.value &&
                        countHyphens(cuitSupplier.value) !== 2
                      "
                      class="col-auto"
                    >
                      <span class="form-text"
                        >El CUIT debe contener exactamente 2 guiones</span
                      >
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="condicionAfip">Condición ante AFIP:</label>
                    <select
                      class="form-control"
                      name="condicionAfipSupplier"
                      id="condicionAfipSupplier"
                      [(ngModel)]="newsupplier.condicionAfipSupplier"
                      required
                      #condicionAfipSupplier="ngModel"
                      [ngClass]="
                        condicionAfipSupplier.errors ? 'is-invalid' : 'is-valid'
                      "
                    >
                      <option
                        *ngFor="let condition of conditionsAfip"
                        [value]="condition"
                      >
                        {{ condition }}
                      </option>
                    </select>
                    <div
                      *ngIf="condicionAfipSupplier.errors?.['required']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Se debe completar este campo</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="categorySupplier">Rubro:</label>
                <div class="row d-flex align-items-center">
                  <div class="col">
                    <select
                      class="form-select"
                      name="categorySupplier"
                      id="categorySupplier"
                      [(ngModel)]="newsupplier.categorySupplier"
                      required
                      #categorySupplier="ngModel"
                      [ngClass]="
                        categorySupplier.errors ? 'is-invalid' : 'is-valid'
                      "
                    >
                      <option value="" disabled selected>
                        Selecciona un rubro
                      </option>
                      <option
                        *ngFor="let category of categoriesSupplier"
                        [value]="category"
                      >
                        {{ category }}
                      </option>
                    </select>
                  </div>
                  <div class="col-1">
                    <!-- Button trigger modal -->
                    <button
                      type="button"
                      class="btn btn-primary m-0"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                    >
                      +
                    </button>
                  </div>
                </div>
                <div
                  *ngIf="categorySupplier.errors?.['required']"
                  class="col-auto"
                >
                  <span class="form-text">Se debe completar este campo</span>
                </div>
              </div>
              <!-- Modal -->
              <div
                class="modal fade"
                [ngClass]="{ show: isModalOpen }"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Agregar Rubro:
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <input
                        type="text"
                        [(ngModel)]="newCategory.categorySupplier"
                        name="categorySupplier"
                        placeholder="Rubro"
                        required
                        minlength="4"
                        maxlength="40"
                        #categorySupplierModal="ngModel"
                        [ngClass]="
                          categorySupplierModal.errors
                            ? 'is-invalid'
                            : 'is-valid'
                        "
                      />
                    </div>
                    <div
                      *ngIf="categorySupplierModal.errors?.['required']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Se debe completar este campo</span
                      >
                    </div>
                    <div
                      *ngIf="categorySupplierModal.errors?.['minlength']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Debe tener al menos 4 caracteres y un maximo de
                        40</span
                      >
                    </div>

                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Cerrar
                      </button>
                      <button
                        type="button"
                        class="btn btn-primary"
                        (click)="addCategory()"
                        [disabled]="isSaveCategory || categorySupplierModal.invalid"
                      >
                        Guardar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </section>
          <section>
            <!-- Sección Contacto Empresa (Información de Contacto) -->
            <fieldset>
              <legend>Datos de Contacto</legend>
              <div class="form-group">
                <label for="sitio_web">Sitio Web:</label>
                <input
                  type="text"
                  class="form-control"
                  name="webSupplier"
                  id="webSupplier"
                  [(ngModel)]="newsupplier.webSupplier"
                  #webSupplier="ngModel"
                  [ngClass]="webSupplier.errors ? 'is-invalid' : 'is-valid'"
                  pattern="https?://.+"
                  title="Ingrese una URL válida con http:// o https://"
                />
                <div *ngIf="webSupplier.errors?.['pattern']" class="col-auto">
                  <span class="form-text"
                    >Debe tener un formato de URL Valido: http://
                  </span>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="emailSupplier">Email:</label>
                    <input
                      type="email"
                      class="form-control"
                      name="emailSupplier"
                      id="emailSupplier"
                      [(ngModel)]="newsupplier.emailSupplier"
                      pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,}"
                      required
                      #emailSupplier="ngModel"
                      [ngClass]="
                        emailSupplier.errors ? 'is-invalid' : 'is-valid'
                      "
                    />
                    <div
                      *ngIf="emailSupplier.errors?.['required']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Se debe completar este campo</span
                      >
                    </div>
                    <div
                      *ngIf="emailSupplier.errors?.['pattern']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Este campo debe tener el formato Email</span
                      >
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="telefono">Teléfono:</label>
                    <input
                      type="number"
                      class="form-control"
                      name="telSupplier"
                      id="telSupplier"
                      [(ngModel)]="newsupplier.telSupplier"
                      pattern="[0-9]{10,13}"
                      required
                      #telSupplier="ngModel"
                      [ngClass]="telSupplier.errors ? 'is-invalid' : 'is-valid'"
                    />
                    <div
                      *ngIf="telSupplier.errors?.['pattern']"
                      class="col-auto"
                    >
                      <span class="form-text">Ingrese solo números</span>
                    </div>
                    <div
                      *ngIf="telSupplier.errors?.['required']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Se debe completar este campo</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </section>
        </div>
        <div class="col-6">
          <section>
            <!-- Sección Contacto Empresa (Dirección) -->
            <fieldset>
              <legend>Dirección de la empresa</legend>
              <div class="form-group">
                <label for="calle">Calle:</label>
                <input
                  type="text"
                  class="form-control"
                  name="streetSupplier"
                  id="streetSupplier"
                  [(ngModel)]="newsupplier.streetSupplier"
                  minlength="4"
                  maxlength="40"
                  required
                  #streetSupplier="ngModel"
                  [ngClass]="streetSupplier.errors ? 'is-invalid' : 'is-valid'"
                />
                <div
                  *ngIf="streetSupplier.errors?.['minlength']"
                  class="col-auto"
                >
                  <span class="form-text"
                    >Debe tener al menos 4 caracteres y un maximo de 40</span
                  >
                </div>
                <div
                  *ngIf="streetSupplier.errors?.['required']"
                  class="col-auto"
                >
                  <span class="form-text">Se debe completar este campo</span>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="numero_Calle">Número:</label>
                    <input
                      type="number"
                      class="form-control"
                      name="numSupplier"
                      id="numSupplier"
                      [(ngModel)]="newsupplier.numSupplier"
                      min="1"
                      max="9999"
                      required
                      #numSupplier="ngModel"
                      [ngClass]="numSupplier.errors ? 'is-invalid' : 'is-valid'"
                    />
                    <div
                      *ngIf="numSupplier.errors?.['min'] || numSupplier.errors?.['max']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Debe tener al menos 1 caracteres y un maximo de 5</span
                      >
                    </div>
                    <div
                      *ngIf="numSupplier.errors?.['required']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Se debe completar este campo</span
                      >
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="cp_Domicilio">Código Postal:</label>
                    <input
                      type="number"
                      class="form-control"
                      name="cpSupplier"
                      id="cpSupplier"
                      [(ngModel)]="newsupplier.cpSupplier"
                      min="100"
                      max="9999"
                      required
                      #cpSupplier="ngModel"
                      [ngClass]="cpSupplier.errors ? 'is-invalid' : 'is-valid'"
                    />
                    <div *ngIf="cpSupplier.errors?.['min']" class="col-auto">
                      <span class="form-text"
                        >Debe tener al menos 3 caracteres y un máximo de 5</span
                      >
                    </div>
                    <div
                      *ngIf="cpSupplier.errors?.['required']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Se debe completar este campo</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="pais">País:</label>
                    <select
                      class="form-control"
                      name="countrySupplier"
                      id="countrySupplier"
                      [(ngModel)]="newsupplier.countrySupplier"
                      (ngModelChange)="
                        onCountrySelected(newsupplier.countrySupplier)
                      "
                      required
                      #countrySupplier="ngModel"
                      [ngClass]="
                        countrySupplier.errors ? 'is-invalid' : 'is-valid'
                      "
                    >
                      <option value="" disabled selected>
                        Selecciona un país
                      </option>
                      <option
                        *ngFor="let country of countries"
                        [value]="country"
                      >
                        {{ country }}
                      </option>
                    </select>
                    <div
                      *ngIf="countrySupplier.errors?.['required']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Se debe completar este campo</span
                      >
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="provinceSupplier">Provincia:</label>
                    <select
                      class="form-control"
                      name="provinceSupplier"
                      id="provinceSupplier"
                      [(ngModel)]="newsupplier.provinceSupplier"
                      required
                      #provinceSupplier="ngModel"
                      [ngClass]="
                        provinceSupplier.errors ? 'is-invalid' : 'is-valid'
                      "
                    >
                      <option value="" disabled selected>
                        Selecciona una provincia
                      </option>
                      <option
                        *ngFor="let province of provinces"
                        [value]="province"
                      >
                        {{ province }}
                      </option>
                    </select>
                    <div
                      *ngIf="provinceSupplier.errors?.['required']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Se debe completar este campo</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="locationSupplier">Localidad:</label>
                <input
                  type="text"
                  class="form-control"
                  name="locationSupplier"
                  id="locationSupplier"
                  [(ngModel)]="newsupplier.locationSupplier"
                  minlength="4"
                  maxlength="40"
                  required
                  #locationSupplier="ngModel"
                  [ngClass]="
                    locationSupplier.errors ? 'is-invalid' : 'is-valid'
                  "
                />
              </div>
              <div
                *ngIf="locationSupplier.errors?.['minlength']"
                class="col-auto"
              >
                <span class="form-text">Debe tener al menos 4 caracteres </span>
              </div>
              <div
                *ngIf="locationSupplier.errors?.['required']"
                class="col-auto"
              >
                <span class="form-text">Se debe completar este campo</span>
              </div>
            </fieldset>
          </section>
          <section>
            <!-- Sección Contacto Encargado (Información de Contacto) -->
            <fieldset>
              <legend>Información de Contacto</legend>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="namecontactSupplier">Nombre:</label>
                    <input
                      type="text"
                      class="form-control"
                      name="namecontactSupplier"
                      id="namecontactSupplier"
                      [(ngModel)]="newsupplier.namecontactSupplier"
                      minlength="4"
                      maxlength="40"
                      required
                      #namecontactSupplier="ngModel"
                      [ngClass]="
                        namecontactSupplier.errors ? 'is-invalid' : 'is-valid'
                      "
                    />
                    <div
                      *ngIf="namecontactSupplier.errors?.['minlength']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Debe tener al menos 4 caracteres y un maximo de
                        40</span
                      >
                    </div>
                    <div
                      *ngIf="namecontactSupplier.errors?.['required']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Se debe completar este campo</span
                      >
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="apellido_contacto">Apellido:</label>
                    <input
                      type="text"
                      class="form-control"
                      name="lastNamecontactSupplier"
                      id="lastNamecontactSupplier"
                      [(ngModel)]="newsupplier.lastNamecontactSupplier"
                      minlength="4"
                      maxlength="40"
                      required
                      #lastNamecontactSupplier="ngModel"
                      [ngClass]="
                        lastNamecontactSupplier.errors
                          ? 'is-invalid'
                          : 'is-valid'
                      "
                    />
                    <div
                      *ngIf="lastNamecontactSupplier.errors?.['minlength']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Debe tener al menos 4 caracteres y un maximo de
                        40</span
                      >
                    </div>
                    <div
                      *ngIf="lastNamecontactSupplier.errors?.['required']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Se debe completar este campo</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="telefono_contacto">Teléfono:</label>
                    <input
                      type="number"
                      class="form-control"
                      name="telcontactSupplier"
                      id="telcontactSupplier"
                      [(ngModel)]="newsupplier.telcontactSupplier"
                      pattern="[0-9]{10,13}"
                      required
                      #telcontactSupplier="ngModel"
                      [ngClass]="
                        telcontactSupplier.errors ? 'is-invalid' : 'is-valid'
                      "
                    />
                    <div
                      *ngIf="telcontactSupplier.errors?.['pattern']"
                      class="col-auto"
                    >
                      <span class="form-text">Ingrese solo números</span>
                    </div>
                    <div
                      *ngIf="telcontactSupplier.errors?.['required']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Se debe completar este campo</span
                      >
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="email_contacto">Email:</label>
                    <input
                      type="email"
                      class="form-control"
                      name="emailcontactSupplier"
                      id="emailcontactSupplier"
                      [(ngModel)]="newsupplier.emailcontactSupplier"
                      pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,}"
                      required
                      #emailcontactSupplier="ngModel"
                      [ngClass]="
                        emailcontactSupplier.errors ? 'is-invalid' : 'is-valid'
                      "
                    />
                    <div
                      *ngIf="emailcontactSupplier.errors?.['required']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Se debe completar este campo</span
                      >
                    </div>
                    <div
                      *ngIf="emailcontactSupplier.errors?.['pattern']"
                      class="col-auto"
                    >
                      <span class="form-text"
                        >Este campo debe tener el formato Email</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="rolcontactSupplier">Rol:</label>
                <input
                  type="text"
                  class="form-control"
                  name="rolcontactSupplier"
                  id="rolcontactSupplier"
                  [(ngModel)]="newsupplier.rolcontactSupplier"
                  minlength="3"
                  maxlength="40"
                  required
                  #rolcontactSupplier="ngModel"
                  [ngClass]="
                    rolcontactSupplier.errors ? 'is-invalid' : 'is-valid'
                  "
                />
                <div
                  *ngIf="rolcontactSupplier.errors?.['minlength']"
                  class="col-auto"
                >
                  <span class="form-text"
                    >Debe tener al menos 3 caracteres y un maximo de 40</span
                  >
                </div>
                <div
                  *ngIf="rolcontactSupplier.errors?.['required']"
                  class="col-auto"
                >
                  <span class="form-text">Se debe completar este campo</span>
                </div>
              </div>
            </fieldset>
          </section>
        </div>
      </div>
    </main>
    <footer>
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!myForm.valid || isSave"
      >
        Guardar
      </button>
      <button type="submit" class="btn btn-danger" (click)="ClearForm()">
        Limpiar
      </button>
      <button type="button" class="btn btn-primary" routerLink="/list-supplier">
        Volver
      </button>
    </footer>
  </form>
</div>
