<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h4>Listado Proveedores:</h4>
    </div>
    <div class="col-6">
      <a routerLink="new" class="btn btn-success" id="altaProveedores"
        >Creación</a
      >
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table>
        <thead>
          <th>RAZON SOCIAL</th>
          <th>CUIT</th>
          <th>CONDICIÓN AFIP</th>
          <th>RUBRO</th>
          <th>OPCIONES</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of supplierList">
            <td>{{ item.nameSupplier }}</td>
            <td>{{ item.cuitSupplier | uppercase }}</td>
            <td>{{ item.condicionAfipSupplier | uppercase }}</td>
            <td>{{ item.categorySupplier | uppercase }}</td>
            <td>
              <a
                href="#"
                class="btn btn-primary btn-sm"
                [routerLink]="item.idSupplier"
                >EDITAR</a
              >
              <a
                class="btn btn-danger btn-sm ml-2"
                (click)="deleteSupplier(item.idSupplier)"
                >ELIMINAR</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
