.active-filter {
  color: #007bff;
}

.container-fluid {
  margin-top: 20px;
}

h4 {
  margin-bottom: 20px;
}

#newProduct {
  float: right;
  margin-bottom: 10px;
}

table {
  width: 100%;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

table img {
  max-width: 100px;
  max-height: 100px;
}

a {
  margin-right: 5px;
}

table tbody tr:hover {
  background-color: #dae6ed;
}

table strong {
  font-weight: inherit;
  text-decoration: underline;
}

