
.navbar {
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.ordenCompra {
    padding: 50px;
}

.ordenCompra fieldset {
    margin-bottom: 15px;
    border: 1px solid rgb(117, 117, 236);
    padding: 15px;
    border-radius: 8px;

}

.ordenCompra label {
    margin-bottom: 5px;
    display: block;
}

.ordenCompra button {
    padding: 10px 20px;
    border-radius: 5px;
}

.ordenCompra input,
.ordenCompra select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #d6c2c2;
    border-radius: 5px;
}

