.container-fluid {
  margin-top: 20px;
}

h4 {
  margin-bottom: 20px;
}

#newProduct {
  float: right;
  margin-bottom: 10px;
}

table {
  margin: 20px auto;
  width: 80%;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.col-actions {
  width: 100px;
}

.col-rubro {
  width: calc(100% - 100px);
}

table img {
  max-width: 100px;
  max-height: 100px;
}

a {
  margin-right: 5px;
}

table tbody tr:hover {
  background-color: #dae6ed;
}

table strong {
  font-weight: inherit;
  text-decoration: underline;
}

.canceled-order {
  text-decoration: line-through;
}
