<div class="container-fluid">
    <h5>Datos del producto:</h5>
    <div class="row">
      <div class="col-6">
        <!-- Sección Proveedor -->
        <fieldset>
          <legend>Información Proveedor:</legend>
          <div class="form-group">
            <label for="codigo">Código:</label>
            <input type="text" class="form-control" name="codigo" id="codigo" required />
          </div>
          <div class="form-group">
            <label for="proveedorNombre">Proveedor:</label>
            <select class="form-control" name="proveedorNombre" id="proveedorNombre">
              <option value="proveedor1">Proveedor 1</option>
              <option value="proveedor2">Proveedor 2</option>
              <option value="proveedor3">Proveedor 3</option>
            </select>
          </div>
        </fieldset>
      </div>
      <div class="col-6">
        <!-- Sección Producto/Servicio -->
        <fieldset>
          <legend>Producto/Servicio</legend>
          <div class="form-group">
            <label for="categoria">Categoria:</label>
            <select class="form-control" name="categoria" id="categoria">
              <option value="categoria1">Categoria 1</option>
              <option value="categoria2">Categoria 2</option>
              <option value="categoria3">Categoria 3</option>
            </select>
          </div>
          <div class="form-group">
            <label for="nombreProducto">Nombre:</label>
            <input type="text" class="form-control" name="nombreProducto" id="nombreProducto" required />
          </div>
          <div class="form-group">
            <label for="descripcionProducto">Descripcion:</label>
            <input type="text" class="form-control" name="descripcionProducto" id="descripcionProducto" required />
          </div>
          <div class="form-group">
            <label for="precioProducto">Precio:</label>
            <input type="text" class="form-control" name="precioProducto" id="precioProducto" required />
          </div>
        </fieldset>
  
        <button type="button" class="btn btn-success" id="botonCargar">Cargar</button>
      </div>
    </div>
    
  </div>
  