<div class="container">

  <div class="row mt-2">
  
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        <li class="breadcrumb-item"><a routerLink="/list-product">Listado de Productos</a></li>
        <li class="breadcrumb-item active" aria-current="page">    <span>{{ !isUpdate ? "Nuevo Producto" : "Actualizando Producto" }}</span></li>
      </ol>
    </nav>
  </div>

  <form #myForm="ngForm" (ngSubmit)="createNewProduct(myForm)">
    <main>
      <div class="row">
        <div class="col-6">
          <!-- Sección Producto/Servicio -->
          <fieldset>
            <legend>Producto</legend>
            <div class="form-group">
              <label for="urlLogo">Imagen del Producto:</label>
              <input
                type="text"
                class="form-control"
                name="urlLogo"
                id="urlLogo"
                [(ngModel)]="newProduct.urlLogo"
                #urlLogo="ngModel"
                [ngClass]="urlLogo.errors ? 'is-invalid' : 'is-valid'"
              />
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="codeProduct">SKU: <span class="fw-light">(*)</span></label>
                  <input
                    type="text"
                    class="form-control"
                    name="codeProduct"
                    id="codeProduct"
                    minlength="4"
                    maxlength="10"
                    required
                    [(ngModel)]="newProduct.codeProduct"
                    #codeProduct="ngModel"
                    [ngClass]="codeProduct.errors ? 'is-invalid' : 'is-valid'"
                    [disabled]="isUpdate"
                  />
                  <div
                    *ngIf="codeProduct.errors?.['minlength']"
                    class="col-auto"
                  >
                    <span class="form-text"
                      >Debe tener al menos 4 caracteres y un maximo de 10</span
                    >
                  </div>
                  <div
                    *ngIf="codeProduct.errors?.['required']"
                    class="col-auto"
                  >
                    <span class="form-text">Se debe completar este campo</span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="supplierName">Proveedor: <span class="fw-light">(*)</span></label>
                  <select
                    class="form-control"
                    name="supplierName"
                    id="supplierName"
                    [(ngModel)]="newProduct.supplierName"
                    required
                    #supplierName1="ngModel"
                    [ngClass]="supplierName1.errors ? 'is-invalid' : 'is-valid'"
                  >
                    <option value="" disabled selected>
                      Selecciona el proveedor
                    </option>
                    <option *ngFor="let name of suppliers" value="{{ name }}">
                      {{ name }}
                    </option>
                  </select>
                  <div
                    *ngIf="supplierName1.errors?.['required']"
                    class="col-auto"
                  >
                    <span class="form-text">Se debe completar este campo</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="categoryProduct">Categoria: <span class="fw-light">(*)</span></label>
              <div class="row d-flex align-items-center">
                <div class="col">
                  <select
                    class="form-control"
                    name="categoryProduct"
                    id="categoryProduct"
                    [(ngModel)]="newProduct.categoryProduct"
                    required
                    #categoryProduct="ngModel"
                    [ngClass]="
                      categoryProduct.errors ? 'is-invalid' : 'is-valid'
                    "
                  >
                    <option value="" disabled selected>
                      Selecciona una categoría
                    </option>
                    <option
                      *ngFor="let category of categories"
                      value="{{ category }}"
                    >
                      {{ category }}
                    </option>
                  </select>
                </div>
                <div class="col-1">
                  <!-- Button trigger modal -->
                  <button
                    type="button"
                    class="btn btn-primary m-0"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"
                  >
                    +
                  </button>
                </div>
              </div>
              <div
                *ngIf="categoryProduct.errors?.['required']"
                class="col-auto"
              >
                <span class="form-text">Se debe completar este campo</span>
              </div>
            </div>

            <div class="form-group">
              <label for="nameProduct">Nombre: <span class="fw-light">(*)</span></label>
              <input
                type="text"
                class="form-control"
                name="nameProduct"
                id="nameProduct"
                minlength="4"
                maxlength="40"
                required
                [(ngModel)]="newProduct.nameProduct"
                #nameProduct="ngModel"
                [ngClass]="nameProduct.errors ? 'is-invalid' : 'is-valid'"
              />
              <div *ngIf="nameProduct.errors?.['minlength']" class="col-auto">
                <span class="form-text"
                  >Debe tener al menos 4 caracteres y un maximo de 40</span
                >
              </div>
              <div *ngIf="nameProduct.errors?.['required']" class="col-auto">
                <span class="form-text">Se debe completar este campo</span>
              </div>
            </div>
            <div class="form-group">
              <label for="descripcionProducto">Descripción: <span class="fw-light">(*)</span></label>
              <textarea
                type="text"
                class="form-control"
                name="descripcionProducto"
                id="descripcionProducto"
                minlength="4"
                required
                [(ngModel)]="newProduct.descriptionProduct"
                #descriptionProduct="ngModel"
                [ngClass]="
                  descriptionProduct.errors ? 'is-invalid' : 'is-valid'
                "
              >
              </textarea>
              <div
                *ngIf="descriptionProduct.errors?.['minlength']"
                class="col-auto"
              >
                <span class="form-text">Debe tener al menos 4 caracteres</span>
              </div>
              <div
                *ngIf="descriptionProduct.errors?.['required']"
                class="col-auto"
              >
                <span class="form-text">Se debe completar este campo</span>
              </div>
            </div>
            <div class="form-group">
              <label for="precioProducto">Precio: <span class="fw-light">(*)</span></label>
              <div class="input-group">
                <span class="input-group-text">$</span>
                <input
                  type="number"
                  class="form-control"
                  name="precioProducto"
                  id="precioProducto"
                  required
                  [(ngModel)]="newProduct.priceProduct"
                  min="10"
                  max="9999999"
                  [(ngModel)]="newProduct.priceProduct"
                  #priceProduct="ngModel"
                  [ngClass]="priceProduct.errors ? 'is-invalid' : 'is-valid'"
                />
              </div>
              <div *ngIf="priceProduct.errors?.['min']" class="col-auto">
                <span class="form-text"
                  >Ingrese un valor del producto, solo números</span
                >
              </div>
              <div *ngIf="priceProduct.errors?.['required']" class="col-auto">
                <span class="form-text">Se debe completar este campo</span>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </main>
    <footer>
      <div class="row">
        <div class="col-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!myForm.valid || isSave"
          >
            Guardar
          </button>
          <button type="submit" class="btn btn-danger" (click)="ClearForm()">
            Limpiar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            routerLink="/list-product"
          >
            Volver
          </button>
        </div>
      </div>
    </footer>
  </form>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Categoría</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="text"
          [(ngModel)]="newCategory.categoryProduct"
          name="categorySupplier"
          placeholder="Agregar categoría"
          required
          minlength="4"
          maxlength="40"
          #categoryProductModal="ngModel"
        />
      </div>
      <div
        *ngIf="categoryProductModal.errors?.['required']"
        class="col-auto text-center"
      >
        <span class="form-text">Se debe completar este campo</span>
      </div>
      <div
        *ngIf="categoryProductModal.errors?.['minlength']"
        class="col-auto text-center"
      >
        <span class="form-text"
          >Debe tener al menos 4 caracteres y un maximo de 40</span
        >
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" (click)="addCategory()"   [disabled]="isSaveCategory || categoryProductModal.invalid">
          Agregar
        </button>
      </div>
    </div>
  </div>
</div>
