<div class="container-fluid">
  <form #myForm="ngForm" (ngSubmit)="createNewProduct(myForm)">
    <div class="row">
      <div class="col-6">
        <!-- Sección Producto/Servicio -->
        <fieldset>
          <legend>Producto</legend>
          <div class="form-group">
            <label for="idSupplier">Imagen del Producto:</label>
            <input
              type="text"
              class="form-control"
              name="urlLogo"
              id="urlLogo"
              [(ngModel)]="newProduct.urlLogo"
              #urlLogo="ngModel"
              [ngClass]="urlLogo.errors ? 'is-invalid' : 'is-valid'"
            />
          </div>
          <div class="form-group">
            <label for="codigo">Código:</label>
            <input
              type="text"
              class="form-control"
              name="idProduct"
              id="idProduct"
              minlength="4"
              maxlength="10"
              required
              [(ngModel)]="newProduct.idProduct"
              #idProduct="ngModel"
              [ngClass]="idProduct.errors ? 'is-invalid' : 'is-valid'"
              [disabled]="isUpdate"
            />
            <div *ngIf="idProduct.errors?.['minlength']" class="col-auto">
              <span class="form-text"
                >Debe tener al menos 4 caracteres y un maximo de 10</span
              >
            </div>
            <div *ngIf="idProduct.errors?.['required']" class="col-auto">
              <span class="form-text">Se debe completar este campo</span>
            </div>
          </div>
          <div class="form-group">
            <label for="supplierProduct">Proveedor:</label>
            <select
              class="form-control"
              name="supplierName"
              id="supplierName"
              [(ngModel)]="newProduct.supplierName"
              required
              [disabled]="isUpdate"
              #supplierName1="ngModel"
              [ngClass]="supplierName1.errors ? 'is-invalid' : 'is-valid'"
            >
              <option value="" disabled selected>
                Selecciona el proveedor
              </option>
              <option *ngFor="let name of supplierName" value="{{ name }}">
                {{ name }}
              </option>
            </select>
            <div *ngIf="supplierName1.errors?.['required']" class="col-auto">
              <span class="form-text">Se debe completar este campo</span>
            </div>
          </div>

          <div class="form-group">
            <label for="categoryProduct">Categoria:</label>
            <select
              class="form-control"
              name="categoryProduct"
              id="categoryProduct"
              [(ngModel)]="newProduct.categoryProduct"
              required
              #categoryProduct="ngModel"
              [ngClass]="categoryProduct.errors ? 'is-invalid' : 'is-valid'"
            >
              <option value="" disabled selected>
                Selecciona la categoría
              </option>
              <option value="Tecnologico">Tecnologico</option>
              <option value="Alimentos">Alimentos</option>
              <option value="Limpieza">Limpieza</option>
              <option value="Ferreteria">Ferreteria</option>
              <option value="Otro">Otro</option>
            </select>
            <div *ngIf="categoryProduct.errors?.['required']" class="col-auto">
              <span class="form-text">Se debe completar este campo</span>
            </div>
          </div>
          <div class="form-group">
            <label for="nameProduct">Nombre:</label>
            <input
              type="text"
              class="form-control"
              name="nameProduct"
              id="nameProduct"
              minlength="4"
              maxlength="40"
              required
              [(ngModel)]="newProduct.nameProduct"
              #nameProduct="ngModel"
              [ngClass]="nameProduct.errors ? 'is-invalid' : 'is-valid'"
            />
            <div *ngIf="nameProduct.errors?.['minlength']" class="col-auto">
              <span class="form-text"
                >Debe tener al menos 4 caracteres y un maximo de 40</span
              >
            </div>
            <div *ngIf="nameProduct.errors?.['required']" class="col-auto">
              <span class="form-text">Se debe completar este campo</span>
            </div>
          </div>
          <div class="form-group">
            <label for="descripcionProducto">Descripción:</label>
            <textarea
              type="text"
              class="form-control"
              name="descripcionProducto"
              id="descripcionProducto"
              minlength="4"
              required
              [(ngModel)]="newProduct.descriptionProduct"
              #descriptionProduct="ngModel"
              [ngClass]="descriptionProduct.errors ? 'is-invalid' : 'is-valid'"
            >
            </textarea>
            <div
              *ngIf="descriptionProduct.errors?.['minlength']"
              class="col-auto"
            >
              <span class="form-text">Debe tener al menos 4 caracteres</span>
            </div>
            <div
              *ngIf="descriptionProduct.errors?.['required']"
              class="col-auto"
            >
              <span class="form-text">Se debe completar este campo</span>
            </div>
          </div>
          <div class="form-group">
            <label for="precioProducto">Precio:</label>
            <input
              type="number"
              class="form-control"
              name="precioProducto"
              id="precioProducto"
              required
              [(ngModel)]="newProduct.priceProduct"
              min="10"
              max="9999999"
              [(ngModel)]="newProduct.priceProduct"
              #priceProduct="ngModel"
              [ngClass]="priceProduct.errors ? 'is-invalid' : 'is-valid'"
            />
            <div *ngIf="priceProduct.errors?.['min']" class="col-auto">
              <span class="form-text"
                >Ingrese un valor del producto, solo números</span
              >
            </div>
            <div *ngIf="priceProduct.errors?.['required']" class="col-auto">
              <span class="form-text">Se debe completar este campo</span>
            </div>
          </div>
        </fieldset>
        <div *ngIf="msj" class="alert alert-success" role="alert">
          Acción realizada con exito!
        </div>
        <div *ngIf="msjId" class="alert alert-danger" role="alert">
          Ya existe un proveedor con ese codigo
        </div>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!myForm.valid"
        >
          Guardar
        </button>
        <button type="submit" class="btn btn-danger" (click)="ClearForm()">
          Limpiar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/list-product"
        >
          Volver
        </button>
      </div>
    </div>
  </form>
</div>
